body {
  margin: 0;
  font-family: "Playfair Display", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
a:-webkit-any-link {
  color: '#fff !important'
}

.stamp-rotation:hover {

  /* border: 2px solid red; */
  animation: spin 10s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
